.DS_Store
Thumbs.db
.idea/
*.iml
*.iws

target/
out/
build/
*.log
*.tmp

allure-results/
galen-reports/
report/
reports/
screenshots/
test-output/
surefire-reports/
cucumber-reports/
*.feature.cache
.env
*.env